<br />
<a href="https://cran.r-project.org/package={{include.pkg}}">
    <img src="https://www.r-pkg.org/badges/version-ago/{{include.pkg}}"
	 alt="{{include.pkg}} stable release on CRAN"
	 title="Download stable version from CRAN" /></a>
<a href="https://github.com/mhahsler/{{include.pkg}}">
    <img alt="{{include.pkg}} latest GitHub commit" title = "Go to development version on GitHub" src="https://img.shields.io/github/last-commit/mhahsler/{{include.pkg}}.svg?color=orange&label=GitHub%20last%20commit"></a>
<img src="https://cranlogs.r-pkg.org/badges/grand-total/{{include.pkg}}"
     alt="{{include.pkg}} total CRAN downloads"
     title="Total CRAN downloads" />
<img src="https://cranlogs.r-pkg.org/badges/{{include.pkg}}"
     alt="{{include.pkg}} recent CRAN downloads"
     title="Recent CRAN downloads" />
